:root{
  /* Цвета */
  --color-primary: #17202b;
  --color-text: #ffffff;
  --color-secondary: #ffffff;
  --color-tiles: #bcbcbcbc;
  --color-border: #888;
  --color-shadow: #000000aa;
  
  /* Переходы */
  --transition-hover: .2s ease-in-out;
}

*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Основные элементы */
.wrap{
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(300px, 1300px) minmax(1rem, 1fr);
  grid-template-rows: minmax(100px, auto) 1fr minmax(50px, auto);
  gap: 1rem;
}

.header{
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: inherit;
  grid-template-columns: inherit;
  gap: inherit;
  color: var(--color-text);
  background: var(--color-primary);
  box-shadow: 0 0 5px 0 var(--color-shadow);
}

.header-content{
  grid-column: 2 / 3;
  display: inherit;
  grid-template-columns: 1fr 220px;
  grid-template-rows: 40px 1fr;
  gap: 10px;
  padding: 10px 0;
  align-items: center;
}

.header-logo{
  width: 80px;
  height: 80px;
  grid-row: 1 / -1;
}

.header-nav{
   grid-column: 2 / -1;
   grid-row: 1 / -1;
   display: flex;
   justify-content: space-between;
}

.header-nav > a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-text);
  cursor: pointer;
  transition: var(--transition-hover);
}

.header-nav > a:hover{
  transform: translateY(-2px);
  transition: var(--transition-hover);
}

.content{
  grid-row: 2 / 3;
  grid-column:  2 / 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content-block{
  background-color: var(--color-tiles);
  box-shadow: 0 0 5px 0 var(--color-shadow);
  border-radius: 1rem;
  padding: 1rem;
}

footer{
  grid-row: 3 / -1;
  grid-column: 1 / -1;
  background: var(--color-primary);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  box-shadow: 0 0 5px 0 var(--color-shadow);
  padding: 0 2rem;
}

/* Панель поиска и выборки */
.content-block > h3 {
  font-size: 1.25rem;
}

.select-content-block{
  position: relative;
}

.toggle-select-btn{
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 25px;
  height: 25px;
  border-radius: 0.3rem;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition-hover);
}

.select-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.select-form{
  display: inherit;
  gap: inherit;
  align-items: center;
}

.movie-searchbar, .select-type{
  padding: 0.3rem;
  border: 1px solid var(--color-border);
  background: var(--color-secondary);
  box-shadow: inset 0 0 2px 0 var(--color-shadow);
  border-radius: 0.3rem;
}

.select-button{
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition-hover);
}

.select-button:hover, .toggle-select-btn:hover{
  transform: translateY(-2px);
  background: var(--color-primary);
  color: var(--color-secondary);
  transition: var(--transition-hover);
}

/* Список фильмов и плейсхолдеры для него */
.movie-list-block{
  min-height: calc(100vh - 500px - 3rem);
}

.loading-and-placeholder-block{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.placeholder-icon{
  font-size: 7rem;
  vertical-align: middle;
  text-align: center;
  width: 150px;
  height: 150px;
}

.loading-and-placeholder-block > p {
  font-size: 1.25rem;
  font-weight: bold;
}

.loading-animated{
  animation: loading-placeholder-spin 1s ease-in-out infinite; 
}

@keyframes loading-placeholder-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}