:root{
  /* Цвета */
  --color-primary: #17202b;
  --color-text: #ffffff;
  --color-secondary: #ffffff;
  --color-tiles: #eaeaeabc;
  --color-border: #888;
  --color-shadow: #000000aa;
  --color-links-hover: #073f83;
  --color-pagination-hover: #cccccc;
  --color-add: #3e8440;
  --color-remove: #8d2f2f;
  
  /* Переходы */
  --transition-hover: .2s ease-in-out;
}

*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* Основные элементы */
.wrap{
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(300px, 1300px) minmax(1rem, 1fr);
  grid-template-rows: minmax(100px, auto) 1fr minmax(50px, auto);
  gap: 1rem;
}

.header{
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: inherit;
  grid-template-columns: inherit;
  gap: inherit;
  color: var(--color-text);
  background: var(--color-primary);
  box-shadow: 0 0 5px 0 var(--color-shadow);
}

.header-content{
  grid-column: 2 / 3;
  display: inherit;
  grid-template-columns: 1fr 220px;
  grid-template-rows: 40px 1fr;
  gap: 10px;
  padding: 10px 0;
  align-items: center;
}

.header-title-link{
  text-decoration: none;
  color: var(--color-text);
  font-size: 2.05rem;
  width: max-content;
  padding-right: 1rem;
  font-weight: bold;
}

.header-nav{
   grid-column: 2 / -1;
   grid-row: 1 / -1;
   display: flex;
   justify-content: space-between;
}

.header-nav > a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-text);
  cursor: pointer;
  transition: var(--transition-hover);
}

.header-nav > a:hover{
  transform: translateY(-2px);
  transition: var(--transition-hover);
}

.content{
  grid-row: 2 / 3;
  grid-column:  2 / 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content-block{
  background-color: var(--color-tiles);
  box-shadow: 0 0 5px 0 var(--color-shadow);
  border-radius: 1rem;
  padding: 1rem;
}

.full-sized-block{
  min-height: 100%;
}

footer{
  grid-row: 3 / -1;
  grid-column: 1 / -1;
  background: var(--color-primary);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  box-shadow: 0 0 5px 0 var(--color-shadow);
  padding: 0 2rem;
}

/* Модальное окно с оповещениями */
.modal-window{
  position: fixed;
  bottom: 5rem;
  left: 1rem;
  box-shadow: 0 0 10px 0 var(--color-shadow);
  padding: 0.5rem;
  border-radius: 0.3rem;
  background: #333;
  color:white;
  max-width: 250px;
  animation: modal-swing .3s ease-in-out;
}

@keyframes modal-swing {
  from{
    transform: translateX(calc(-250px - 2rem));
  }
  to{
    transform: translateX(0);
  }
}

.modal-close{
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0.5rem;
}

.modal-text{
  margin-top: 1rem;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-right: 1rem;
}

/* Страница 404 (плейсхолдер для пустых страниц) */
.page-not-found-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
}

.page-not-found-block span {
  font-weight: bold;
  font-size: 7rem;
  padding-bottom: 2rem;
}

.page-not-found-block p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.page-not-found-block a{
  text-decoration: none;
  color: inherit;
  transition: var(--transition-hover);
}

.page-not-found-block a:hover{
  transform: translateY(-2px);
  color: var(--color-links-hover);
  transition: var(--transition-hover);
}

/* Страница "О приложении" */
.about-block{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.25rem;
  text-align: justify;
}

.about-title{
  text-align: center;
}

.about-block > h2{
  padding-left: 1rem;
}

.about-block > h2:not(:first-of-type){
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: 3px solid #88888866;
}

.about-navigation{
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.about-navigation > a, .author-socials > a, .about-block > ul a{
  color: var(--color-primary);
  text-decoration: none;
  transition: var(--transition-hover);
}

.about-navigation > a::before{
  content: '#';
  font-weight: bold;
  margin-right: 0.5rem;
  color: var(--color-links-hover);
}

.about-navigation > a:hover{
  color: var(--color-links-hover);
  transform: translateY(-1px);
  transition: var(--transition-hover);
}

.about-block > ul {
  padding-left: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.about-block > ul > li::before{
  content: '–';
  font-weight: bold;
  margin-right: 0.5rem;
  color: var(--color-links-hover);
}

.about-block span:not(.citation){
  font-weight: bold;
  color: var(--color-links-hover);
}

.about-author{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0 2rem;
}

.name-and-image{
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 250px;
  width: 20%;
  text-align: center;
}

.author-image{
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px 0 var(--color-shadow);
}

.author-name{
  font-size: 1.35rem;
}

.author-name-tag, .author-trivia, .author-socials{
  font-weight: 100;
  margin-bottom: 0.5rem;
}

.author-description{
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.citation-box{
  margin-left: 0.5rem;
  padding-left: 2rem;
  width: 100%;
  flex-grow: 1;
}

.citation{
  position: relative;
  padding-left: 2rem;
  font-style: italic;
  line-height: 1.5;
}

.citation::before{
  content: '"';
  position: absolute;
  top: -1rem;
  left: 0rem;
  color: var(--color-links-hover);
  font-weight: bold;
  font-size: 2.5rem;
}

.citation::after{
  content: '"';
  position: absolute;
  bottom: -1rem;
  right: -1.5rem;
  color: var(--color-links-hover);
  font-weight: bold;
  font-size: 2.5rem;
}

.author-socials{
  text-align: right;
  margin-top: 1rem;
}

.author-socials > a:hover, .about-block > ul a:hover{
  color: var(--color-links-hover);
}

.reference-list{
  margin-left: 1rem;
  margin-bottom: 2rem;
}

/* Страница поиска фильмов */
/* Панель поиска и выборки */
.content-block > h3 {
  font-size: 1.25rem;
}

.select-content-block{
  position: relative;
}

.select-content-block button{
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition-hover);
  border-radius: 0.3rem;
  border: 0.5px solid var(--color-border);
  
}

.select-content-block button:hover{
  border: 0.5px solid var(--color-primary);
  transform: translateY(-2px);
  background: var(--color-primary);
  color: var(--color-secondary);
  transition: var(--transition-hover);
}

.toggle-select-btn{
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 25px;
  height: 25px;
}

.select-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.select-form{
  display: inherit;
  gap: inherit;
  align-items: center;
}

.movie-searchbar, .select-type{
  padding: 0.3rem;
  border: 1px solid var(--color-border);
  background: var(--color-secondary);
  box-shadow: inset 0 0 2px 0 var(--color-shadow);
  border-radius: 0.3rem;
}

.select-button{
  padding: 0.3rem 0.5rem;
}

/* Список фильмов и плейсхолдеры для него */
.movie-list-block{
  min-height: calc(100% - 100px - 1rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.movie-list-controls{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-list-controls:last-of-type{
  align-items: end;
}

.movie-total-results{
  font-weight: bold;
  font-size: 1.1rem;
}

.movie-list-clear-btn{
  background: var(--color-secondary);
  border: 0.5px solid var(--color-border);
  border-radius: 0.3rem;
  padding: 0 0.5rem;
  height: 35px;
  vertical-align: middle;
  cursor: pointer;
  transition: var(--transition-hover);
  font-size: 1rem;
  font-weight: bold;
}

.movie-list-clear-btn:hover{
  transition: var(--transition-hover);
  transform: translateY(-2px);
  color: var(--color-text);
  background-color: var(--color-remove);
  border: 0.5px solid var( --color-remove);
}

.movie-list-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem 1rem;
  grid-auto-rows: 280px;
  flex-grow: 1;
}

.loading-and-placeholder-block{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.placeholder-image{
  width: 250px;
}

.loading-and-placeholder-block > p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.loading-animated{
  animation: loading-placeholder-spin 2s ease-in-out infinite; 
}

@keyframes loading-placeholder-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1080deg);
  }
}

/* Тайл с информацией о фильме */
.moive-item-tile{
  display: flex;
  gap:1.5rem;
  height: 280px;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 3px 0 var(--color-shadow);
}

.movie-poster{
  height: 100%;
  max-width: 170px;
  object-fit: cover;
}

.movie-item-info{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25rem;
}

.movie-title{
  font-size: 1.8rem;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.movie-year{
  flex-grow: 1;
  font-weight: 100;
}

.movie-item-controls{
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.movie-item-controls button, .info-btn{
  text-decoration: none;
  text-align: center;
  font-size: 0.85rem;
  color: var(--color-primary);
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  border: 0.5px solid var(--color-border);
  cursor: pointer;
  transition: var(--transition-hover);
}

.movie-item-controls .info-btn:hover{
  transition: var(--transition-hover);
  color: var(--color-text);
  transform: translateY(-2px);
  background: var(--color-primary);
  border: 0.5px solid var(--color-primary);
}

.movie-item-controls .add-btn:hover{
  transition: var(--transition-hover);
  color: var(--color-text);
  transform: translateY(-2px);
  background: var(--color-add);
  border: 0.5px solid var(--color-add);
}

/* Стили для пагинатора */
.pagination-button{
  height: 25px;
  min-width: 25px;
  background: var(--color-secondary);
  border: 0.5px solid var(--color-border);
  border-right: 0;
  border-collapse: collapse;
  cursor: pointer;
  transition: var(--transition-hover);
}

.pagination-button.left{
  border-radius: 0.3rem 0 0 0.3rem;
}

.pagination-button.right{
  border-radius: 0 0.3rem 0.3rem 0;
  border: 0.5px solid var(--color-border);
}

.pagination-button.current{
  background: var(--color-primary);
  color: var(--color-text) !important;
  font-weight: bold;
}

.pagination-button:disabled{
  cursor: default;
  pointer-events: none;
  color: var(--color-border);
}

.pagination-button:hover{
  transition: var(--transition-hover);
  background: var(--color-pagination-hover);
}

/* Подробная информация о фильме */
.movie-info-cotainer{
  display: flex;
  gap: 2rem;
}

.movie-info-poster-box{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.movie-info-poster{
  max-width: 300px;
}
.movie-ratings{
  border-collapse: collapse;
}

.movie-ratings th{
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.movie-ratings td{
  padding: 0.5rem 0;
  font-size: 1.1rem;
  border-bottom: 1px solid var(--color-border);
}

.imdb-votes-row td{
  font-size: 1rem;
  color:var(--color-border);
}

.movie-info-content{
  position: relative;
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  width: 100%;
}

.movie-info-controls{
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.movie-info-controls button {
  font-size: 1rem;
  color: var(--color-primary);
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  border: 0.5px solid var(--color-border);
  cursor: pointer;
  transition: var(--transition-hover);
}

.movie-info-controls button:hover {
  transform: translateY(-2px);
  transition: var(--transition-hover);
  color: var(--color-text);
}

.movie-info-controls .add-btn:hover{
  background: var(--color-add);
  border: 0.5px solid var(--color-add);
}

.movie-info-controls .go-back-btn:hover{
  background: var(--color-remove);
  border: 0.5px solid var(--color-remove);
}

.movie-info-title{
  font-size: 2.25rem;
}

.movie-info-trivia{
  font-size: 1.1rem;
  font-weight: 100;
}

.trivia-type{
  text-transform: capitalize;
}

.movie-info-runtime{
  padding-top: 1rem;
}

.pegi-rated{
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.movie-info-creators{
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
}

.td-creators-title{
  padding-right: 1rem;
}

.movie-info-awards{
  font-weight: 100;
}

.movie-info-plot{
  padding-top: 1rem;
  text-align: justify;
  font-size: 1.3rem;
  flex-grow: 1;
}