@media screen and (max-width: 768px) {
    /* Основные элементы */
    .header-content{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .header-nav{
        grid-column: 1 / -1;
        grid-row: 3 / -1;
        justify-content: space-around;
    }
    footer{
        flex-direction: column;
        padding: 0.5rem 2rem;
    }
    footer > * {
        text-align: center;
    }

    /* Панель поиска и выборки */
    .select-block {
        flex-direction: column;
    }
    .select-form{
        flex-direction: column;
        align-items: start;
    }
    .select-form *{
        width: 100%;
    }
    .movie-list-block {
        min-height: calc(100% - 250px - 1rem);
    }

    /* Страница "О приложении" */
    .about-block{
        font-size: 1rem;
    }
    .about-author{
        flex-direction: column;
        align-items: center;
    }
    .citation-box{
        margin: 0;
        padding: 0;
    }
    .citation::after{
        bottom: -1.5rem;
    }

    /* Список фильмов и плейсхолдеры для него */
    .movie-list-container{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    /* Тайл с информацией о фильме */
    .moive-item-tile{
        height: 255px;
    }
    .movie-title{
        font-size: 1.3rem;
    }
    .movie-item-controls{
        flex-direction: column;
    }
}