@media screen and (max-width: 768px) {
    /* Основные элементы */
    .header-content{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .header-nav{
        grid-column: 1 / -1;
        grid-row: 3 / -1;
        justify-content: space-around;
    }
    footer{
        flex-direction: column;
        padding: 0.5rem 2rem;
    }
    footer > * {
        text-align: center;
    }

    /* Панель поиска и выборки */
    .select-block {
        flex-direction: column;
    }
    .select-form{
        flex-direction: column;
        align-items: start;
    }
    .select-form *{
        width: 100%;
    }
}