@media screen and (max-width: 768px) {
    /* Основные элементы */
    .header-content{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .header-nav{
        grid-column: 1 / -1;
        grid-row: 3 / -1;
        justify-content: space-around;
    }
    footer{
        flex-direction: column;
        padding: 0.5rem 2rem;
    }
    footer > * {
        text-align: center;
    }

    /* Панель поиска и выборки */
    .select-block {
        flex-direction: column;
    }
    .select-form{
        flex-direction: column;
        align-items: start;
    }
    .select-form *{
        width: 100%;
    }
    .movie-list-block {
        min-height: calc(100% - 250px - 1rem);
    }

    /* Страница "О приложении" */
    .about-block{
        font-size: 1rem;
    }
    .about-author{
        flex-direction: column;
        align-items: center;
    }
    .citation-box{
        margin: 0;
        padding: 0;
    }
    .citation::after{
        bottom: -1.5rem;
    }

    /* Список фильмов и плейсхолдеры для него */
    .movie-list-container{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .movie-list-controls{
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }
    .movie-list-controls:last-of-type{
        flex-direction: column-reverse;
        align-items: end;
    }
    .movie-list-share-btn{
        display: none;
    }

    .placeholder-image{
        width: 200px;
    }
    .loading-and-placeholder-block > p {
        font-size: 1.2rem;
        padding: 0 10%;
    }

    /* Тайл с информацией о фильме */
    .moive-item-tile{
        height: 255px;
    }
    .movie-title{
        font-size: 1.3rem;
    }
    .movie-item-controls{
        flex-direction: column;
    }

    /* Подробная информация о фильме */
    .movie-info-cotainer{
        flex-direction: column;
    }
    .movie-info-poster{
        max-width: 100%;
    }
    .movie-info-controls{
        padding-top: 1rem;
    }
    .movie-info-creators td{
        vertical-align: top;
        text-align: justify;
        padding-bottom: 0.5rem;
    }
    .movie-info-controls .share-btn{
        display: none;
    }

    /* Список фильмов для просмотра */
    .wacth-list-item{
        height: auto;
        position: relative;
        flex-wrap: wrap;
    }
    .watch-list-text{
        font-size: 0.9rem;
    }
    .watch-list-controls{
        padding: 0;
        width: 100%;
        justify-content: space-between;
        gap:1.5rem;
        font-size: 0.9rem;
    }
    .watch-list-controls > .remove-btn{
        font-size: 1rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}