:root{
  /* ЦВЕТА */
  --color-primary: #17202b;
  --color-secondary: #ffffff;
  --color-shadow: #000000aa;
  
  /* Переходы */
  --transition-hover: .2s ease-in-out;
}

*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}